@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: theme(colors.neutral.50);
    --bg-color-dark: theme(colors.gray.800);
    --dot-color: theme(colors.neutral.400);
    --dot-color-dark: theme(colors.gray.600);
    --indigo: theme(colors.indigo.400);
    --dot-size: 1px;
    --dot-space: 22px;
  }

  body {
    @apply text-primary dark:text-primary-dark bg-dotted dark:bg-dotted-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-ternary dark:text-ternary-dark mb-[0.6em] w-fit bg-primary dark:bg-primary-dark;
  }

  h1 {
    @apply text-3xl sm:text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl sm:text-3xl font-semibold;
  }

  h3 {
    @apply text-lg text-secondary dark:text-secondary-dark;
  }

  p {
    @apply mb-3 bg-primary dark:bg-primary-dark;
  }

  a[href] {
    @apply hover:transition-opacity hover:opacity-70;
  }

  a[href]:focus-visible,
  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    @apply outline-offset-3;
    outline-color: var(--indigo);
  }
}

@layer utilities {
  .custom-container {
    max-width: 900px;
    @apply px-4 sm:px-6;
  }
  .bg-primary {
    @apply bg-neutral-50;
  }

  .bg-primary-dark {
    @apply bg-gray-800;
  }

  .bg-dotted {
    background: linear-gradient(
          90deg,
          var(--bg-color) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--bg-color) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }

  .bg-dotted-dark {
    background: linear-gradient(
          90deg,
          var(--bg-color-dark) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--bg-color-dark) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color-dark);
  }

  .text-primary {
    @apply text-neutral-600;
  }

  .text-primary-dark {
    @apply text-gray-200;
  }

  .text-secondary {
    @apply text-neutral-500;
  }

  .text-secondary-dark {
    @apply text-gray-400;
  }

  .text-ternary {
    @apply text-neutral-700;
  }

  .text-ternary-dark {
    @apply text-gray-50;
  }
}

@layer components {
  a.link-color {
    @apply text-indigo-400 font-light;
  }

  a.action-link-primary {
    @apply inline-block bg-neutral-800 dark:bg-neutral-800 hover:opacity-90 text-neutral-100 font-light py-2.5 px-8 mt-4 rounded-md;
  }

  a.action-link-secondary {
    @apply inline-block border text-inherit border-neutral-500 py-1.5 px-4 rounded-sm;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-pink-600 to-yellow-600;
  }

  /* .text-gradient-secondary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-rose-500 to-blue-600;
  }

  .text-gradient-ternary {
    @apply text-transparent bg-clip-text bg-gradient-to-bl from-sky-400 to-blue-950;
  } */

  .button-primary {
    @apply px-3 py-1 rounded-sm bg-neutral-800 hover:opacity-90 text-neutral-100 font-light;
  }

  .button-secondary {
    @apply bg-neutral-200 hover:bg-neutral-300 px-3 py-1 rounded-sm transition-colors duration-75;
  }
}
